<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="pm.presentation.PmModelWizardID"
            name="%_UI_PmModelWizard_label"
            class="pm.presentation.PmModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PmModelFile.gif">
         <description>%_UI_PmModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="pm.presentation.PmEditorID"
            name="%_UI_PmEditor_label"
            icon="icons/full/obj16/PmModelFile.gif"
            extensions="pm"
            class="pm.presentation.PmEditor"
            contributorClass="pm.presentation.PmActionBarContributor">
      </editor>
   </extension>

</plugin>
